#container{
  width:200px;
  min-height:150px;
  height:auto;
  border-bottom:3px solid #1a1a1a;
}

#container hr{
  width:100px;
  border:none;
  border-top:1px solid #d7d7d7;
}

#header{
  width:200px;
  height:20px;
  margin:0 auto;
}

#header h1{
  font-size:12px;
  text-align:center;
  line-height:20px;
  color:#1a1a1a;
  font-family:Open Sans, sans-serif;
  font-weight:300;
}

#form-container{
  width:200px;
  height:100px;
  margin:0 auto;
}

#shuffles{
  width:200px;
  height:20px;
  margin:0 auto;
}

#shuffles-cont{
  width:150px;
  height:20px;
  margin:0 auto;
}

#s-t{
  width:70px;
  height:20px;
  float:left;
  font-family:Open Sans, sans-serif;
  font-weight:300;
  color:#1a1a1a;
  font-size:12px;
  line-height:20px;
}

#s-n{
  width:80px;
  height:20px;
  float:left;
}

#s-n input[type="number"]{
  width:80px;
  height:20px;
  border:none;
  outline:none;
  padding:none;
  font-size:11px;
}

#url{
  width:200px;
  height:20px;
  margin-top:5px;
}

#url-cont{
  width:150px;
  height:20px;
  margin:0 auto;
}

#u-t{
  width:70px;
  height:20px;
  float:left;
  font-family:Open Sans, sans-serif;
  font-weight:300;
  color:#1a1a1a;
  font-size:12px;
  line-height:20px;
}

#u-n input[type="text"]{
  width:80px;
  height:20px;
  border:none;
  outline:none;
  padding:none;
  font-size:11px;
}

#interval{
  width:200px;
  height:20px;
  margin-top:5px;
}

#interval-cont{
  width:150px;
  height:20px;
  margin:0 auto;
}

#in-t{
  width:70px;
  height:20px;
  float:left;
  font-family:Open Sans, sans-serif;
  font-weight:300;
  color:#1a1a1a;
  font-size:12px;
  line-height:20px;
}

#in-i input[type="number"]{
  width:80px;
  height:20px;
  border:none;
  outline:none;
  padding:none;
  font-size:11px;
}

#automate{
  width:200px;
  height:20px;
  margin-top:10px;
}

#automate-cont{
  width:150px;
  height:20px;
  margin:0 auto;
}

#automate-in input[type="submit"]{
  width:150px;
  height:20px;
  border:none;
  padding:none;
  background-color:#4285f4;
  color:white;
  font-family:Open Sans, sans-serif;
  font-weight:300;
  text-align:center;
  font-weight:400;
  line-height:20px;
}